/** @format */

.i {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 7s ease-in-out infinite alternate;
}

@keyframes move {
  50% {
    transform: TranslateY(-50px);
  }
  100% {
    transform: TranslateY(-100px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(1, 209, 140);
  display: flex;
  align-items: center;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
  }

  .i-desc {
    display: none;
  }
}

.body {
  position: absolute;
  display: flex;
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0 53%, 19% 0);
  background-color: rgba(0, 132, 59, 0.47);
  inset: 0;
  align-items: center;
  justify-content: center;
  background: #ce5937;
  background: -moz-linear-gradient(left, #ce5937 0%, #1c6ea4 81%, #c59237 100%);
  background: -webkit-linear-gradient(left, #ce5937 0%, #1c6ea4 81%, #c59237 100%);
  background: linear-gradient(to right, #ce5937 0%, #1c6ea4 81%, #c59237 100%);
}
.glowMe,
.glowAll {
  opacity: 0;
  transition: opacity 300ms linear 0s;
}
svg {
  width: 30vw;
  height: 30vw;
  cursor: pointer;
}
svg:hover .glowMe {
  opacity: 0.5;
}
svg:hover .glowAll {
  opacity: 1;
}
.buttonTop {
  fill: #5f309b;
  transition: fill 300ms linear 0s;
}
svg:hover .buttonTop {
  fill: #a661ff;
}
.buttonSides {
  fill: #371b5b;
  transition: fill 300ms linear 0s;
}
svg:hover .buttonSides {
  fill: #763ac2;
}
svg:focus {
  outline: none;
}
svg:focus .buttonTop,
svg:focus .playSides {
  stroke: white;
  stroke-width: 2px;
}
svg:focus .playSides {
  stroke-width: 1px;
}
svg:active .buttonTop {
  fill: #c79cff;
}

svg:nth-of-type(1) {
  transform: translate(37%, -35%);
}
svg:nth-of-type(3) {
  transform: translate(-37%, 35%);
}
